include README.md
include LICENSE
include pyproject.toml
recursive-include src/vistron/templates *.html
recursive-include src/vistron/static *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]